.Events{
  text-align: center;
  margin-top: 75px;
}

@media screen and (max-width: 500px) {
  .Events{
    margin-top: 75px;
  }
}

.UpcomingEvents{
  margin: 0px 0px 50px 0px;
  text-align: center;
  border-bottom: 10px solid #E6E2EA;
  position: relative; 
  overflow: hidden;
}

.UpcomingEvents h1{
  color: #5B3E7A;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: 12px;
  text-decoration-color: #5B3E7A;
  margin-top: 50px;
}

@media screen and (max-width: 500px) {
  .UpcomingEvents h1{
    padding: 0px 20px;
    font-size: 40px;
  }
}

.Circle1{
  width: 200px;
  height: 175px;
  border-radius: 50%;
  background-color: var(--purpleish-gray);
  position: absolute; 
  top: 55%;
  left: 50%; 
  transform: translateX(-425px);
}

.Circle2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--purpleish-gray);
  position: absolute; 
  top: 75%;
  left: 50%; 
  transform: translateX(-500px);
}

.Circle3{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--pastel-teal);
  position: absolute; 
  top: 75%;
  left: 50%; 
  transform: translateX(-650px);
}

.Circle4{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--pastel-teal);
  position: absolute; 
  bottom: 70%;
  left: 50%; 
  transform: translateX(250px); 
}

.Circle6{
  width: 125px;
  height: 125px;
  border-radius: 50%;
  background-color: var(--purpleish-gray);
  position: absolute; 
  bottom: 70%;
  left: 50%; 
  transform: translateX(450px); 
}

.Circle5{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--purpleish-gray);
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.UpcomingEventsImg{
  width: 40%;
  height: auto;
  margin-bottom: 50px;
}

/* New layout: calendar and past-events image side-by-side on wide screens */
.CalendarAndImage {
  display: flex;
  align-items: center;   /* vertical center */
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: nowrap;
}

.EventsCalendar {
  width: 700px;
  height: 600px;
  border: 1px solid #777;
}

.PastEventsColumn {
  flex: 1 1 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PastEventsColumn img {
  width: 80%;
  max-height: 810px;
  object-fit: cover;
  display: block;
}



@media screen and (max-width: 500px) {
  .UpcomingEventsImg{
    width: 85%;
  }
}

@media screen and (max-width: 900px) {
  .EventsCalendar{
    width: 100%;
    height: 480px;
  }

  .UpcomingEventsImg{
    width: 90%;
  }
  .CalendarAndImage{
    gap: 20px;
    padding: 20px;
  }
}